<div class="container">
    <div class="hero"></div>
  
    <ul class="robot-parts-cta">
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'phone'}" class="part">
          <img src="/assets/images/mobile.png" alt="Smart Phone" />
          <div>Smart Phone</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'tablet'}" class="part">
          <img src="/assets/images/tablet.png" alt="Tablet" />
          <div>Tablet</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'smarttv'}" class="part">
          <img src="/assets/images/tv.png" alt="Smart TV" />
          <div>Smart TV</div>
        </a>
      </li>
    </ul>

  </div>